.user {
  width: 94.4%;
  height: 7.0299vh;
  padding: 0.8vh 2.6%;
  border-radius: 0.52083vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s;
}

.user:hover {
  background-color: #4D4D4D;
  transition: all 0.2s;
}

.user.active {
  background-image: linear-gradient(to bottom right, #6F20D2, #D8C0F8);
}

.sideBar_user_avatar {
  width: 3.385416vw;
  height: 3.385416vw;
  border-radius: 500px;
  background-image: linear-gradient(to bottom left, #FF3535, #FF9393);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.0833vw;
  margin-right: 0.5208vw;
}

.user_text {
  align-self: flex-start;
}

.user_name {
  font-size: 1.4583vw;
}

.user_lastMessage {
  font-size: 1.0416vw;
  max-width: 11vw;
  /* max-width: 180px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user_lastMessage_time {
  font-size: 0.9375vw;
  align-self: flex-start;
  margin-left: auto;
}