.header {
    width: 100%;
    height: 7.5512vh;
    background-color: #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.04166vw;
}

.header_avatar {
    width: 2.864583vw;
    height: 2.864583vw;
    border-radius: 500px;
    background-image: linear-gradient(to bottom left, #FF3535, #FF9393);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.77083vw;
    color: white;
    margin-right: 0.5208vw;
}

.header_avatar.saved {
    background-image: linear-gradient(to bottom left, #3586FF, #3525E9);
}

.header_username {
    color: white;
    font-size: 1.5625vw;
    height: fit-content;
}

.header_status {
    color: #D3D3D3;
    font-size: 0.78125vw;
}

.more_btn {
    border: none;
    background-color: transparent;
}

.header_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.604166vw;
    margin-right: 2.0833vw;
    margin-left: auto;
}

.chat_menu {
    width: 10.9375vw;
    height: 14.0237vh;
    background-color: rgba(58, 58, 58, 97%);
    position: absolute;
    border-radius: 0.260416vw;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 25%);
    backdrop-filter: blur(4px);
}

.chat_menu_item {
    font-size: 0.9375vw;
    color: white;
    margin-left: 0.52083vw;
    margin-top: 0.53937vh;
    cursor: pointer;
}

.chat_menu_item p {
    margin-left: 0.52083vw;
}

.chat_menu_red_p {
    color: #F34848;
}

.contexify_separator {
    background-color: #CACACA;
    height: 0.5px;
    width: 100%;
    margin-top: 0.53937vh;
}