.sideBar_header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu_btn {
    margin: 1.29449vh 0.8vw 0;
    border: none;
    background-color: transparent;
}

.sideBar_search {
    width: 12vw;
    height: 5.3937vh;
    padding: 0 0.52083vw 0 3.125vw;
    border-radius: 100px;
    border: 1px solid #CACACA;
    background-color: transparent;
    outline: none;
    font-size: 1.25vw;
    color: white;
    background-image: url('../../assets/Search.svg');
    background-size: 1.822916vw 1.822916vw;
    background-repeat: no-repeat;
    background-position: 10px;
}

.sideBar_main {
    width: 100%;
    margin-top: 1.618vh;
    display: flex;
    flex-direction: column;
    gap: 1.0787vh;
}

.sidebar_menu {
    width: 10.9375vw;
    height: 17.7993vh;
    background-color: rgba(58, 58, 58, 97%);
    position: absolute;
    border-radius: 0.260416vw;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 25%);
    backdrop-filter: blur(4px);
}



.contexify.sidebar_menu {
    width: 10.9375vw;
    background-color: rgba(58, 58, 58, 97%);
    position: absolute;
    border-radius: 0.260416vw;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 25%);
    backdrop-filter: blur(4px);
    overflow: hidden;
    padding: 0.53937vh 0.52083vw;
    display: flex;
    flex-direction: column;
    gap: 0.53937vh;
}

.contexify_item.sidebar_menu_item .contexify_itemContent:hover {
    background-color: transparent;
}

.contexify_itemContent {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    gap: 0.52083vw;
    font-size: 0.9375vw;
    color: #fff;
    padding: 0;
}