.auth_bg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #5E00D6, #FEC8FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup_body {
    width: 31.25vw;
    padding: 2.157497vh 0;
    border-radius: 0.52083vw;
    background-color: #fff;
    display: none;
    align-items: center;
    flex-direction: column;
    /* visibility: hidden; */
}

.signup_body.active {
    display: flex
}

.auth_title {
    margin-bottom: 5.39374vh;
}

.signup_body h1 {
    text-align: center;
}

#file_input {
    display: none;
}

.signup_body label {
    width: 7.29166vw;
    height: 7.29166vw;
    min-height: 100px;
    min-width: 100px;
    border-radius: 500px;
    background: url('../../assets/Picture.svg') no-repeat center center, linear-gradient(to bottom right, #5E01D6, #FEC8FF);
    margin: 1.61812vh 0 5.39374vh;
}

.text_input {
    width: 78.33%;
    height: 3.7849vh;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, #5E00D6, #F6BCFF) 1;
    font-size: 1.35416vw;
    outline: none;
    padding: 0 2.5% 0.53vh;
    margin-bottom: 4.314994vh;
}

.text_input_div {
    width: 78.33%;
    /* height: 3.7849vh; */
    border: 1px solid linear-gradient(to right, #5E00D6, #F6BCFF);
    /* border-bottom: 1px solid linear-gradient(to right, #5E00D6, #F6BCFF); */
    padding: 0 2.5% 0.53vh;
    margin-bottom: 4.314994vh;
    display: flex;
    flex-direction: row;
}

.password_input {
    width: 100%;
    height: 100%;
    font-size: 1.35416vw;
    outline: none;
    border: none;
}

.text_input::placeholder {
    color: #BDBDBD;
}

.auth_btn {
    width: 3.697916vw;
    height: 3.697916vw;
    min-width: 61px;
    min-height: 61px;
    border-radius: 500px;
    background-color: #E29EFF;
    border: none;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 1.0416vw;
}

.auth_btn.prev {
    align-self: flex-start;
    margin-left: 1.0416vw;
}

.auth_link {
    font-size: 1.35416vw;
    margin-top: 1.6181vh;
    /* margin-top: 63vh; */
    color: #fff;
    text-decoration: none;
    user-select: none;
}

.auth_btn_div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.error {
    color: #F34848;
    font-size: 1.3vw;
    margin-top: 2vh;
}