.input_section {
    width: 100%;
    /* height: 6.47249vh; */
    /* height: 7.1vh; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.78125vw;
}

#file_message_input {
    display: none;
}

.input_section label, .input_btn {
    width: 3.9vw;
    height: 3.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F3F3F;
    border-radius: 500px;
    border: none;
    align-self: flex-end;
    margin-bottom: 0.32362vh;
}

.input_div {
    width: 100%;
    height: fit-content;
    min-height: 6.47249vh;
    background-color: #3F3F3F;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 500px; */
    border-radius: 2.60416vw;
}

.default_input_div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.default_input_div.mode {
    margin-bottom: 1.078748vh;
}

.mode_div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.6181229vh;
}

.mode_div button {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: 0.78125vw;
}

.mode_div hr {
    transform: rotate(90);
    /* height: 30px; */
    height: 5.6094929vh;
    /* height: 100%; */
    width: 2px;
    background-image: linear-gradient(to bottom, #BD00FF, #C67EFF);
    border: none;
    margin-right: 0.52083vw;
    margin-left: 1.5625vw;
}

.mode_div div {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.message_input {
    background-color: #3F3F3F;
    /* height: 100%; */
    width: 88%;
    margin-left: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 1.25vw;
}

.mode_title {
    font-size: 1.0416vw;
}

.mode_text {
    font-size: 1.25vw;
}

.emoji_btn {
    border: none;
    background-color: transparent;
}

.emoji_div {
    position: absolute;
    margin-bottom: 70px;
    left: 60%;
}

.message_input_img {
    /* width: 20px;
    height: 20px; */
    max-width: 90px;
    max-height: 50px;
}