.input_section {
    width: 100%;
    /* height: 6.47249vh; */
    height: 7.1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.78125vw;
    /* margin-bottom: 500px; */
}

.input_btn {
    /* width: 2.86458vw; */
    width: 3.9vw;
    /* height: 2.86458vw; */
    height: 3.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F3F3F;
    border-radius: 500px;
    border: none;
}

#file_message_input {
    display: none;
}

.input_section label {
    /* width: 2.86458vw; */
    width: 3.9vw;
    /* height: 2.86458vw; */
    height: 3.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F3F3F;
    border-radius: 500px;
    border: none;
}

.input_div {
    width: 100%;
    height: 100%;
    background-color: #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 500px;
}

.message_input {
    background-color: #3F3F3F;
    height: 80%;
    width: 88%;
    margin-left: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 1.25vw;
}

.emoji_btn {
    border: none;
    background-color: transparent;
}

.emoji_div {
    position: absolute;
    margin-bottom: 70px;
    /* margin-left: 20%; */
    left: 60%;
}